node_modules/
dist/
logs/

ios/platforms/ios/build/
ios/platforms/ios/www/
ios/platforms/ios/cordova/console.log
*.xcuserdatad
ios/.DS_Store
ios/www/js/bundle.js
ios/platforms/ios/www/js/

npm-debug.log
*.pem
