@import 'variables.scss';
/*

AN EXAMPLE OF HOW YOU CAN USE MEDIA QUERIES

  @media #{$phone-portrait} {
    background-color: red;
  }
  @media #{$desktop-landscape} {
    background-color: black;
  }
  @media #{$tablet-landscape} {
    background-color: black;
  }

*/

//***********************//
//     Global styles     //
//***********************//

body {
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

p, h2, label {
  font-family: $main-font !important;
}

h1 {
  font-family: $logo-font !important;
  font-size: 60px !important;
}

h2 {
  padding: 10px;
}

.mainFont {
  font-family: $main-font;
}

.logoFont {
  font-family: $logo-font;
}

/******** For the Allxxxxx tables & Complete Installation *********/
.tableRowHeaderColumn {
  padding: 0px 5px 0px 5px !important;
  position: inherit !important;
}

.trow {
  td:first-child, th:first-child {
    width: 10px !important;
    padding: 0px 15px 0px 15px !important;
  }
}
/******************************************************************/

.headings {
  background: $main-blue;
  color: white;
}

.tabs {
  background-color: grey !important;
}

.contentContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
  width: 100%;
}

.leftPanel {
  flex: 1;
  flex-basis: 20%;
  min-width: 279px;
  background-color: $dark-blue;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mainContent {
  flex: 2;
  flex-basis: 80%;
  background-color: $light-gray;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.full-width {
  width: 100% !important;
}

.appBarButtonsContainer {
  height: 48px;
}

.dialogTitle {
  text-align:center;
}

//styling for close X button in the Log In / Sign Up dialogs
.closeXButton {
  position: absolute !important;
  left: calc(100% - 55px) !important;
  bottom: calc(100% - 55px) !important;
  div {
    font-size: 24px;
    font-weight: bold;
  }
}

//************************//
//Dashboard Content styles//
//************************//

.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .dashboardWelcome {
    flex: 1;
    width: 100%;
    flex-basis: 150px;
    height: 150px;
    font-size: 50px;
    font-family: $main-font;
    text-align: center;
    span {
      font-family: Damion;
      font-size: 70px;
    }
  }

  .dashboardTables {
    @media #{$desktop-landscape}, #{$desktop-portrait} {
      flex: 2;
      width: 100%;
      flex-basis: calc(100% - 150px);
      height: calc(100% - 150px);
      display: flex;
      flex-direction: row;
    }
    @media #{$tablet-portrait} {
      width: 100%;
      height: calc(100% - 150px);
    }


    .recentSales {
      @media #{$desktop-landscape}, #{$desktop-portrait} {
        flex: 1;
      }
      @media #{$tablet-portrait} {

      }
      @media #{$tablet-landscape} {

      }
    }

    .recentInstallations {
      @media #{$desktop-landscape}, #{$desktop-portrait} {
        flex: 2;
      }
      @media #{$tablet-portrait} {

      }
      @media #{$tablet-landscape} {

      }
    }

    .salesAndInstallation {
      font-family: $main-font;
      @media #{$desktop-landscape}, #{$desktop-portrait} {
        flex-basis: 50%;
        //half of the content window minus margin minus border
        width:calc(50% - 40px - 2px);
        //100% of the parent's height minus margin minus border
        height: calc(100% - 40px - 2px);
        margin: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
      }
      @media #{$tablet-portrait} {
        width:calc(100% - 40px - 2px);
        //100% of the parent's height minus margin minus border
        height: calc(50% - 40px - 2px);
        margin: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
      }
      @media #{$tablet-landscape} {
        padding-bottom: 25px;
        margin-right: 25px;
        margin-left: 25px;
      }
    }

    .salesInstallationToolBar {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 70px;
      background-color: $main-blue !important;
      color: white;
      font-family: arial;
    }
  }
}

//*******************************//
//End of Dashboard Content styles//
//*******************************//


//*************************//
//All Customers page styles//
//*************************//

.allCustomers {
  width: 100%;
  height: 100%;
  background-color: white;
  .allCustomersToolbar {
    height: 70px;
  }
}

.searchField {
  height: 100%;
}

.allEmployees {
  width: 100%;
  height: 100%;
  background-color: white;
  .allEmployeesToolbar {
    height: 70px;
  }
}

//********************************//
//End of All Customers page styles//
//********************************//

//*************************//
//New Employee page styles//
//*************************//


.newEmployee {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newEmployeeToolBar {
  order: 1;
}

.newEmployeeFormContainer {
  order: 2;
  flex-basis: calc(100% - 56px);
  height: calc(100% - 56px);

  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newEmployeeForm {
  height: 100%;
  width: 700px;
  background-color: white;
  padding-left: 75px;
  padding-right: 75px;
}

.newEmployeeFormBox {
  padding-top: 30px;
  padding-bottom: 50px;
}


//*******************************//
//End of New Employee page styles//
//*******************************//

//**********************************//
//Complete Installations page styles//
//**********************************//
.radioActionText {
  padding-top: 20px;
  padding-bottom: 20px;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  float: right;
}

.radioGroup div.radio {
  width: 10% !important;
  padding-right: 20px;
}

.radioRow {
  width: 300px;
  margin: 0px;
  font-family: $main-font;
  float: left;
}

.programTableRow {
  td:first-child, th:first-child {
    width: 10px !important;
    padding: 0px 15px 0px 0px !important;
  }
}

.inst-table-header {
  width: 50px;
}

//*****************************************//
//End of Complete Installations page styles//
//*****************************************//

//**********************************************//
//Start of the Styling for the Camera Components//
//**********************************************//

.cameraWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.buttonWrapper {
  order: 1;
  display: flex;
  justify-content: center;
}

.pictureWrapper {
  order: 2;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  border-style: dashed;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 90%;
}

.imageBox {
  margin: 10px;
  background-color: green;
}

.finishWrapper {
  order: 3;
  display: flex;
  justify-content: flex-end;
}

.finishButton {
  order: 1;
  width: 200px;
  margin-bottom: 5%;
  margin-right: 5%;
}

//********************************************//
//End of the Styling for the Camera Components//
//********************************************//
